*
{
    margin:0;padding:0;
}

html,body
{
    height: 100%;
}

.container
{
   height: 100%;   
}

header
{     
}

.content
{    
  height:100%;    
  width: 100%;
}
#map {
  height: 100%;
  width:90%;  
}

footer
{   
  max-height: 25%;
  overflow: scroll;
  position: relative;    
}

.ol-viewport {
	height:auto !important;
}

#popup {
	background: white;
}

.edit {
  display: none;
}

td {
  padding-left: 1em;
  padding-top: 0.3em;
}
td.title {
  width: 20%;
  text-align: right;
  vertical-align: top;
}
td.value {
  width: 80%;
  vertical-align: top;
}

#right {
  padding: 0 1em;
  overflow: scroll;
  height: 100%;
}
#right p{
  margin-bottom:0.3em;
}
#right, #map {
  float:left;
}
#right {
  max-width: 25%;
}