*
{
    margin:0;padding:0;
}

html,body
{
    height: 100%;
}

.container
{
   -ms-box-orient: vertical;
   display: -ms-flex;
   height: 100%;
   display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-flex; 
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21+ */ 
   display: flex;          /* NEW: Opera 12.1, Firefox 22+ */    
   
   -ms-flex-direction: column; 
   -webkit-flex-direction: column;
   flex-direction: column; 
}

header
{     
}

.content
{
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
    height:0;
    min-height: 0;
}

footer
{ 
    
}

.ol-viewport {
	height:auto !important;
}

#popup {
	background: white;
}


td {
  padding-left: 1em;
  padding-top: 0.3em;
}
td.title {
  width: 20%;
  text-align: right;
  vertical-align: top;
}
td.value {
  width: 80%;
  vertical-align: top;
}